@tailwind base;
@tailwind components;
@tailwind utilities;

/* 멤버쉽 라벨  */
.membership-gradient-custom {
  width: 450px;
  height: 150px;
  padding: 10px;
  box-sizing: border-box;
  background-image: linear-gradient(
    to right,
    #11111175 0%,
    #28186785 10%,
    #e5091495,
    #28186785 90%,
    #11111175 100%
  );
}

/* section2 광고형 스탠다드 멤버쉽 광고 콘텐츠 박스 */
.section2-member-ad-box {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-image: linear-gradient(
    to right,
    #11111160 0%,
    #28186770 10%,
    #e5091480,
    #28186770 90%,
    #11111160 100%
  );
}

/* 전체 페이지에 적용되는 스크롤바 스타일 */
html {
  scrollbar-width: thin; /* Firefox에서 스크롤바 너비 조정 */
  scrollbar-color: #e50914 #000; /* Firefox에서 스크롤바 색상 조정 */
}

body {
  overflow-x: hidden; /* 수평 스크롤바 숨기기 */
}

/* 웹킷 기반 브라우저 (Chrome, Safari)에서 스크롤바 스타일 */
::-webkit-scrollbar {
  width: 12px; /* 스크롤바 너비 */
}

::-webkit-scrollbar-track {
  background: #000; /* 스크롤바 트랙 색상 */
}

::-webkit-scrollbar-thumb {
  background: #e50914; /* 스크롤바 색상 */
  border-radius: 6px; /* 스크롤바 둥글기 */
}

::-webkit-scrollbar-thumb:hover {
  background: #c4070c; /* 호버 시 스크롤바 색상 */
}

.hover {
  position: relative;
  width: 250px;
  height: 100%;
  gap: 8px;
  display: inline-block;
  margin-right: 16px;
  cursor: pointer;
  transition: all 0.1s;
}

.hover:hover {
}

.hoverOver {
  width: 250px;
  height: 350px;
  object-fit: cover;
  margin-bottom: 4px;
  position: absolute;
  top: 0;
  background: #000;
  opacity: 0.5;
  display: none;
}

.hover:hover .hoverOver {
  display: block;
}

/* 버튼 기본 스타일 */
.hoverBtn {
  position: absolute;
  top: 50%;
  left: 20%;
  display: none;
  /* 기본 상태에서의 스타일 재정의 */
  filter: none; /* 기본 필터 스타일 설정 */
  opacity: 1; /* 기본 투명도 설정 */
  z-index: 999;
}

/* 호버 시 버튼 스타일 */
.hover:hover .hoverBtn {
  display: block;
  /* 버튼이 표시될 때 필터와 투명도 재정의 */
  filter: none; /* 필터 제거 */
  opacity: 1; /* 투명도 제거 */
}

